<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:int="http://www.springframework.org/schema/integration"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                                 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                                 http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd">

    <!-- Component scan to find all Spring components -->
    <context:component-scan base-package="com.integration.test" />

    <!-- A Spring Integration channel -->
    <!--这是一个通道,代码可以给它发消息-->
    <int:channel id="helloWorldChannel" />

    <!-- A Spring Integration adapter that routes messages sent to the helloWorldChannel to the bean named "helloServiceImpl"'s hello() method -->
    <!--这是一个适配器 指示所有发送到通道的请求都转发到helloServiceImpl中的getHelloMessage()方法中-->
    <!--<service-activator input-channel="helloWorldChannel" ref="helloServiceImpl" method="hello" />-->
    <int:service-activator input-channel="helloWorldChannel" ref="helloServiceImpl" method="getHelloMessage" />
    <!-- Define a gateway that we can use to capture a return value -->
    <!--这是一个网关节点 网关节点是一个接口定义的 这样我们可以拿到helloServiceImpl中的返回值-->
    <int:gateway id="helloWorldGateway" service-interface="com.integration.test.service.HelloService" default-request-channel="helloWorldChannel" />

</beans:beans>